<!DOCTYPE html>
<html lang="zxx" class="no-js">


<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="assets/img/accessories.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Westgram</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="assets/css/linearicons.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.css">
	<link rel="stylesheet" href="assets/css/themify-icons.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/nouislider.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	

</head>

<body>

	<!-- Start Header Area -->
	<style>
		body {
	   background-image: url("assets/img/bckimg.jpg");
	   background-repeat: no-repeat;
	   background-size: cover;
	   background-size: cover;
	 }
	 
	 </style>
	<header class="container-fluid header_area sticky-header ">
		<div class=" p-0 bg-warning">
			<nav class="container-fluid p-0 bg-dark navbar navbar-expand-lg navbar-light main_box">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><span class="background-square">
						<span class="bold-text">WESTGRAM</span></a>
					<style>
					
					.bold-text {
						font-weight: bold;
						font-size: 40px;
						color:rgb(253, 179, 7);
					  }
					</style>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset " id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link text-white" href="/home">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle text-white" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/loadshop">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="/loadCheckout">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="/loadcart">Shopping Cart</a></li>
									
								</ul>
							</li>
							
							
							<li class="nav-item">
								<a href="/loadcart" class="nav-link text-white">CART</a>
							</li>
							<li class="nav-item">
								<a href="/loadWishlist" class="nav-link text-white">WISHLIST</a>
							</li>
							
							<% if (user) { %>
								<li class="nav-item">
									<a href="/userProfile" class="nav-link text-white">PROFILE</a>
								</li>
								
								<li class="nav-item">
									<a class="nav-link text-danger" href="/logout">Logout</a>
								</li>
								<% } else { %>
									<li class="nav-item">
										<a class="nav-link text-white" href="/login">Login</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-white " href="/register">Register</a>
									</li>
								 
									<% }%>
						</ul>
						<ul class="nav navbar-nav navbar-right ">
							<li class="nav-item"><a href="/loadcart" class="cart"><span class="ti-bag"></span></a></li>
							
						</ul>
					</div>
				</div>
			</nav>
		</div>
		
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->
	
    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->

	
